
    <div class="container">
      <nav class="desktop-1">
        <div class="content-rect-parent">
          <header class="content-rect"></header>
          <div class="logo-parent">
            <a class="home" href="/main">Home</a>
            <a class="statics" href="/statics">Statics</a>
            <a class="news" href="/news">News</a>
            <a class="admin" href="/admin">Admin</a>
            <a class="login" href="/login">Logout</a>
          </div>
        </div>
      </nav>
    </div>
  