<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <div class="container">
    <div class="flex-container">
      <div class="flex-item"></div>
      <div class="flex-item">
        <h2>Welcome to COVID-19 Statistics</h2>
      </div>
      <div class="flex-item"></div>
    </div>
    <div class="flex-container">
      <div class="flex-item"></div>
      <div class="flex-item">
        <img src="assets/2.png" alt="Logo" class="logo">
      </div>
      <div class="flex-item"></div>
    </div>
    <div class="flex-container">
      <div class="flex-item"></div>
      <div class="flex-item">
        <div class="button-container">
          <form id="loginForm" action="/login" method="GET">
            <button type="submit">Login</button>
            <a href="/register">Register</a>
          </form>
        </div>
      </div>
      <div class="flex-item"></div>
    </div>
  </div>
</body>
</html>
